{% extends 'games/base.html' %} 

{%block content%}
<!-- Endroit pour insérer le texte du body -->
<div>
  <div>
    <img src="/static/images/nfl-superbowl.jpeg" alt='' width="500" height="300">
  </div>
  <div>
    <h1>Welcome to the Official NFL Sports Betting Page</h1>
    <p>NFL BetMaster, your ultimate destination for NFL sports betting! We are here to provide you with an exceptional betting experience on the most prestigious American football league in the world. Whether you're a passionate fan or an experienced bettor, our NFL sports betting service is designed to meet all your needs.</p>
  </div>
</div>
{%endblock%}
